body {
    background-image: url("images/back3.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    background-attachment: fixed;
}
.container{
    background-color: rgba(96, 163, 163, 0.103);
    margin: 2px;
    padding: 75px;
}
#myId {
    color: rgba(221, 24, 24, 0.712);
    font-size: 45px;
   }

.browsers{
    width: 700px;
}
h1, h2, h3, h4{
    color: rgb(0, 126, 172);    
}
h1 {

    font-size: 50px;
    text-align: center;
    } 

h2 {
    font-size: 30px;
    text-align: center;
}

h3 {
    font-size: 24px;
}
h4 {
    font-size: 15px;
}

p{
    color: rgb(41, 36, 27);
    font-size: 15px;
    font-family: Arial;
    text-align: justify;
}

